body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #CA6935;
}

p {
  margin: 0;
}

main {
  background: #3596CA;
  padding: 32px 0;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  padding: 30px;
  color: #ffffff;
  font-weight: 500;
  background: #CA6935;
}

header {
  justify-content: flex-start;
  font-size: 30px;
}

.controls-panel, .character__list {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.controls-panel__column {
  width: 35%;
}

.controls-panel__column:first-of-type {
  width: 65%;
  margin-right: 15%;
}

.controls-panel__row {
  display: flex;
  border: 1px solid #ffffff;
}

.controls-panel__row:first-of-type {
  margin-bottom: 24px;
}

.controls-panel__item {
  flex: 1;
  flex-basis: 25px;
  padding: 7px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  box-sizing: content-box;
  text-align: center;
  border-right: 1px solid #ffffff;
}

.controls-panel__item:not(.controls-panel__item--active):hover {
  cursor: pointer;
  background: #ffffff;
  color: #3596CA;
}

.controls-panel__item:last-of-type {
  border-right: none;
}

.controls-panel__item--active {
  background: #30cf93;
  color: #ffffff;
}

.character__list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 55px;
}

.character__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 12px;
  background: beige;
  border: 1px solid rgba(34, 60, 80, 0.5);
  box-shadow: 3px 6px 8px 0 rgba(34, 60, 80, 0.2);
}

.character__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.character__row--full {
  justify-content: unset;
}

.character__card__wrapper {
  display: flex;
  justify-content: space-between;
  width: 49%;
  padding: 24px 24px 42px;
  box-sizing: border-box;
}

.character__card {
  align-items: flex-start;
  min-height: 275px;
  width: 49%;
  box-sizing: border-box;
  padding: 24px 24px 42px;
}

.character__card--full {
  width: 100%;
  padding: 0;
}

.character__info {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.character__info .character__profile,
.character__info .character__age,
.character__info .character__phone {
  flex: none;
}

.character__info .character__age,
.character__info .character__phone {
  margin-bottom: 24px;
}

.character__row .character__star {
  padding-top: 4.2%;
}

.character__profile {
  display: flex;
  align-items: center;
  flex: 5;
}

.character__card .character__profile {
  margin-bottom: 24px;
}

.character__card .character__profile .character__name {
  margin-left: 20px;
}

.character__avatar {
  width: 50px;
  height: 50px;
  background: cadetblue;
  border-radius: 50%;
}

.character__name {
  margin-left: 8px;
}

.character__age {
  flex: 3;
}

.character__phone {
  flex: 4;
}

.character__star {
  width: 14px;
  height: 14px;
}

.character__card--video {
  position: relative;
  padding-bottom: 29%;
  width: 51%;
}

.character__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
